<li id="user-<%= user.id %>">
  <%= link_to gravatar_for(user, :size => 80), user, { :class=>"border-to-gravatar" } %>
  <div class="user-c-1">
    <div>
      <h5><%= link_to user.name, user %></h5>
    </div>
    <div>
      <% if current_user.pending_following.include? user %>
        <span class="request-pending">Request pending...</span>
        <%= link_to 'Cancel request', friendships_destroy_path(requestee_id: user.id), class: 'option-button'  %>
      <% elsif current_user.rejected_followings.include?(user) || current_user.rejected_followers.include?(user) %>
        <span class="">Request rejected!</span>
        <%= link_to 'Remove request', friendships_destroy_path(requestee_id: user.id), class: 'option-button'  %>
      <% elsif current_user.pending_followers.include?(user) %>
        <%= link_to 'Accept', friendships_update_path(requester_id: user.id, status: 'accepted'), class: 'option-button' %>
        <%= link_to 'Reject', friendships_update_path(requester_id: user.id, status: 'rejected'), class: 'option-button' %>
      <% else %>
        <%= link_to 'Send request', friendships_create_path(requestee_id: user.id), class: 'option-button'  %>
      <% end %>
    </div>
  </div>
</li>