<%= render 'shared/navbar' %>
<div class="profile-user">
  <ol>
    <%= render 'shared/user_profile' %>
  </ol>
</div>

<% if @user == current_user or current_user.friend_with?(@user) %>
  <% if @user.posts.count > 0 %>
    <ol class="microposts">
      <%= render @posts_items %>
    </ol>
    <%= will_paginate @posts_items %>
  <% end %>
<% else %>
  <h1> You need to be friend of <%= @user.name %> to see their profile</h1>
<% end %>

<span><%= send_friend_request_button(@user) %></span>