<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, :size => 80), post.user, { :class=>"border-to-gravatar" } %>
  <span><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if post.likes_count >= 1 %>
    <p>
      <%= pluralize(post.likes_count, "like") %>
    </p>
    <% end %>
    <% if post.comments_count >= 1 %>
    <p>
      <%= link_to pluralize(post.comments_count, "comment"), post %>
    </p>
    <% end %>
  </span>
</li>