<%= render 'shared/navbar' %>
<%= render 'shared/user_post' %>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.likes_count > 0 %>
  <p>
    <%= pluralize(@post.likes_count, "like") %>
  </p>
<% end %>
<% if @post.comments_count > 0 %>
  <p>
    <%= pluralize(@post.comments_count, "comment") %>
  </p>
<% end %>

<%= render 'comments/comment' %>

<%= render 'comment_form' %>

<% if current_user == @post.user %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to "Delete", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>
<% end %>
<% pre_like = @post.liked_posts.find { |liked_post| liked_post.user_id == current_user.id} %>
<% if pre_like %>
  <%= link_to 'Dislike', post_like_post_path(id: current_user.id, post_id: @post.id), method: :delete %>
<% else %>
  <%= link_to 'Like', post_like_posts_path(id: current_user.id, post_id: @post.id), method: :post %>
<% end %>
