<!DOCTYPE html>
<html>
  <head>
    <title>FakebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <div class="container-fluid">
      <div class="notice-box d-none" id="notice-box">
        <p id="notice"><%= notice %></p>
      </div>
      <div class="alert-box d-none" id="alert-box">
        <p id="alert-content" class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>


    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '253013912352425',
          xfbml      : true,
          version    : 'v5.0'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
